body {
    width:100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color:#000063;
    margin: 0;
    padding:0;
}  

.header {
    width:100%;
    height: 55px;
}

.top-bar {
    font-size: 25px;
    text-align: center;
    width: 1024px;
    height: 75px;
    color:#E60023;
    margin: 0 auto;
}

hr{
    color: r#E60023;
    background-color:#E60023;
    height: 1px;
}

.textUrl {
    text-align: center;
    font-size: 20px;
    font-weight: both;
    margin-top: 45px;
}

.body-container {
    width:1024px;
    height: 450px;
    margin:0 auto;
}

.notification {
    font-weight: both;
    margin-top: 35px;
}

.text-error {
    width: 500px;
    height:200px;
    float: left;
}

.text-error a {
    text-decoration: none;
    color: #0076C6;
}

.imageError {
    width:510px;
    float: right;
    margin-top:68px;
    margin-right: 10px;
}

.logo {
    width: 150px;
    float: left;
    margin-top: 125px;
}

.network-data{
    margin-top: 65px;
}

.information {
    float:left;
    font-size: 10px;
    margin-left: 190px;
}

.footer {
    text-align: center;
}